{% extends "base.html" %}

{% block title %}
Listing Books
{% endblock title %}

{% block pageTitle %}
Listing Books
{% endblock pageTitle %}

{% block content %}
<table style="width: 100%; border-collapse: collapse; border: 1px solid black;">
    <thead>
        <tr>
            <th style="border: 1px solid black; padding: 8px;">Author</th>
            <th style="border: 1px solid black; padding: 8px;">Publisher</th>
            <th style="border: 1px solid black; padding: 8px;">ISBN</th>
            <th style="border: 1px solid black; padding: 8px;">Pages Number</th>
            <th style="border: 1px solid black; padding: 8px;">Title</th>
            <th style="border: 1px solid black; padding: 8px;">Year</th>
        </tr>
    </thead>
    <tbody>
    {% for book in list %}
        <tr>
            <td style="border: 1px solid black; padding: 8px;">{{ book.author }}</td>
            <td style="border: 1px solid black; padding: 8px;">{{ book.publisher }}</td>
            <td style="border: 1px solid black; padding: 8px;">{{ book.isbn }}</td>
            <td style="border: 1px solid black; padding: 8px;">{{ book.pagesNumber }}</td>
            <td style="border: 1px solid black; padding: 8px;">{{ book.title }}</td>
            <td style="border: 1px solid black; padding: 8px;">{{ book.yearPublication }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table><br>
<a href="#">
    <button type="submit">
        Register
    </button>
</a>

{% endblock content %}
