{% extends "base.html" %}

{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

{% block title %}
Listing Books
{% endblock title %}

{% block pageTitle %}
Listing Books
{% endblock pageTitle %}

{% block content %}
<br>
<table>
    <thead>
        <tr>
            <th>Author</th>
            <th>Publisher</th>
            <th>Title</th>
            <th>Year</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for book in list %}
        <tr>
            <td>{{ book.author }}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.yearPublication }}</td>
            <td>
                <a href="{% url 'editBook' book.pk %}">
                    <button type="submit">Edit</button>
                </a>
                <a href="{% url 'deleteBook' book.pk %}">
                    <button type="submit">Remove</button>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br><br>
<table>
    <tr>
        <td class="action-buttons">
            <a href="{% url 'newBook' %}">
                <button type="submit">Register</button>
            </a>
        </td>
    </tr>
</table>
{% endblock content %}
