{% extends "base.html" %}

{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

{% block title %}
Book Registration
{% endblock title %}

{% block pageTitle %}
Book Registration
{% endblock pageTitle %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <table>
        <tr>
            <td class="action-buttons">
                <a href="{% url 'newBook' %}">
                    <button type="submit">Save</button>
                </a>
            </td>
        </tr>
    </table>
</form>
{% endblock content %}
