{% extends "base.html" %}

{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

{% block title %}
Deleting Books
{% endblock title %}

{% block pageTitle %}
Deleting Books
{% endblock pageTitle %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h3>Confirm to delete this book: "{{ book.title }}"</h3><br>
    <table>
        <tr>
            <td class="action-buttons">
                <a href="{% url 'newBook' %}">
                    <button type="submit">Delete</button>
                </a>
            </td>
        </tr>
    </table>
</form>
{% endblock content %}
