__pycache__/
*.py[cod]
*$py.class

bookstoreVenv/

*.log
db.sqlite3
db.sqlite3-journal

/media/
*/media/*
/staticfiles/
/static/

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
.sass-cache/
*.mo
*.pot

.vscode/

.mypy_cache/
.dmypy.json
dmypy.json

.pytest_cache/

htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/